/* Main home structure ----------------------------------------------------------------- */
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -10px;
}

/* update styles ----------------------------------------------------------------------*/
.update-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 100px 0px;
    background-color: #30267D;
    border-bottom: 1px solid white;
    color: white;
}

.update-styler {
    border-radius: 5px;
    background-color: #570F1C;
    width: 70%;
    padding: 10px;
}

.update-message-cont {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #570F1C;
    border: 3px solid white;
    border-left: none;
    padding: 100px 100px 100px 0px;
    margin-left: -10px;
}

.update-title {
    text-align: center;
    font-size: 150%;
    font-weight: 100;
}

.update-message {
    margin: 30px 0px;
    text-align: center;
    width: 60%;
    font-size: 100%;
}

.map-image{
    margin-left: 58%;
    position: absolute;
    width: 30%;
}

@media (max-width: 1100px) {
    .update-container {
        flex-direction: column-reverse;
    }

    .update-styler {
        width: 90%;
        margin: 0px;
        padding: 180px 10px 10px 10px;
        margin-top: -115px;
    }

    .update-message-cont {
        margin: 0px;
        padding: 150px 0px 20px 0px;
        margin-top: -170px;
        border: 3px solid white;
    }

    .map-image{
        margin: 0%;
        position: relative;
        width: 50%;
    }

    .update-title {
        width: 80%;
    }

    .update-message {
        width: 80%;
    }
}