<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NGWC About</title>
    <meta name="description" content="About the philosophy and coaches for New Gen Wrestling Club.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/about/about.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <div class="nav-style-bar-1"></div>
    <div class="nav-style-bar-2"></div>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/logowhite.png" alt="Wrestling Club Logo" class="navigation-icon">
            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">Home</a></li>
                <li class="navigation-link-holder"><a href="schedule.html" class="navigation-link">Schedule</a></li>
                <li class="navigation-link-holder"><a href="classes.html" class="navigation-link">Classes</a></li>
                <li class="navigation-link-holder"><a href="membership.html" class="navigation-link">Membership</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">Contact</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html"
                    class="navigation-link-collapse">Home</a></li>
            <li class="navigation-link-holder-collapse"><a href="schedule.html"
                    class="navigation-link-collapse">Schedule</a></li>
            <li class="navigation-link-holder-collapse"><a href="classes.html"
                    class="navigation-link-collapse">Classes</a></li>
            <li class="navigation-link-holder-collapse"><a href="membership.html"
                    class="navigation-link-collapse">Membership</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html"
                    class="navigation-link-collapse">Contact</a></li>
        </ul>
    </nav>

    <main class="about">
        <div class="about-school-cont">
            <h2 class="about-school-title">About NG Wrestling Club</h2>
            <p class="about-school-content">At New Gen Wrestling Club, we welcome anyone who is curious about the greatest and oldest 
                sport, wrestling, and hope to inspire those to join us in building better versions of ourselves. Students of all 
                skill levels and backgrounds are encouraged to come and train. While this sport is an amazing opportunity to 
                strengthen our bodies, it also allows us to connect and learn from one another. NGWC aims to foster an encouraging 
                and friendly environment where teamates build each other up. Feel free to stop by to speak with the coaches 
                and consider signing up for a free trial! See you on the mat!</p>
        </div>

        <div class="head-coach">
            <h3 class="coach-name">Head Coach Harvey Robbins</h3>
            <p class="coach-info">Harvey Robbins is the current head coach of NGWC and is passionate about learning and teaching 
                wrestling. Robbins started his wrestling career while he was a young boy and competed in the State Championship 
                Tournament as a highschooler in his home state of Georgia. He continued to train and compete at the amatuer level, 
                winning and placing in several local tournaments. Robbins is also a brown belt in Brazilian Jiu Jitsu and has 
                medaled in several local tournaments.</p>
        </div>
        <div class="coach-plate">
            <h3 class="coach-name">Coach David Rock</h3>
            <p class="coach-info">Coach David is the current Jiu Jitsu coach and assists head coach Robbins during wrestling practice. 
                David has an extensive background in athletic training with a degree in Sport Physiology. He is passionate about 
                training and staying healthy and active. David is a Jiu Jitsu brown belt and competes at the local tournaments. 
                He is focused on sharing the benefits of wrestling and grappling to new students as well as refining the skills 
                of seasoned competitors.</p>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="foot-block">
                <h3 class="footer-header">Location:</h3>
                <p class="footer-info">E 2nd Street, Des Moines, IA, 50309</p>
                <h3 class="footer-header">Contact:</h3>
                <p class="footer-info">Business Email: NGWC@gmail.com</p>
            </div>
            <img src="../styles/pictures/logowhite.png" alt="Logo" class="footer-logo">
            <div class="foot-block foot-block-2">
                <h3 class="footer-header">Follow us on Instagram!</h3>
                <img src="../styles/pictures/instaLogo.png" alt="Instagram Logo" class="ins-logo">
            </div>
        </div>
        <p class="design-info">Website by: Narlock Web Design 2024</p>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>