<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NGWC Classes</title>
    <meta name="description" content="Classes available at New Gen Wrestling Club.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/classes/classes.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <div class="nav-style-bar-1"></div>
    <div class="nav-style-bar-2"></div>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/logowhite.png" alt="Wrestling Club Logo" class="navigation-icon">
            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">Home</a></li>
                <li class="navigation-link-holder"><a href="schedule.html" class="navigation-link">Schedule</a></li>
                <li class="navigation-link-holder"><a href="membership.html" class="navigation-link">Membership</a></li>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">About</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">Contact</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html"
                    class="navigation-link-collapse">Home</a></li>
            <li class="navigation-link-holder-collapse"><a href="schedule.html"
                    class="navigation-link-collapse">Schedule</a></li>
            <li class="navigation-link-holder-collapse"><a href="membership.html"
                    class="navigation-link-collapse">Membership</a></li>
            <li class="navigation-link-holder-collapse"><a href="about.html"
                    class="navigation-link-collapse">About</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html"
                    class="navigation-link-collapse">Contact</a></li>
        </ul>
    </nav>

    <main class="classes">
        <div class="header-styler">
            <h2 class="classes-header">Classes</h2>
        </div>

        <div class="class-describer-container">
            <div class="class-container">
                <h3 class="class-name">Wrestling</h3>
                <p class="class-description">Our practices are designed to build both skill and resilience. We start with conditioning 
                    to warm up, improve mobility, and to help prevent injuries. We follow up by focusing on techniques and drilling 
                    to refine the skills necessary for success. Each session ends with live wrestling, where we can apply what we,ve 
                    learned in real-time scenarios. Whether you're new to the sport or a seasoned wrestler, our hardworking and 
                    supportive environment is perfect for developing your abilities and reaching your full potential.</p>
            </div>
            <div class="class-container">
                <h3 class="class-name">Open Mat</h3>
                <p class="class-description">Our open mat practice sessions provide a relaxed and flexible environment for wrestlers 
                    to drop in at their convenience. During open mat, there is no structured practice; instead, students are encouraged 
                    to explore new techniques, ask questions, and wrestle with one another. This informal setting fosters creativity, 
                    learning, and camaraderie, allowing you to refine your skills and connect with teammates. Whether you're looking to 
                    try out new moves or simply enjoy some friendly sparring, our open mat sessions are a great way to grow and 
                    socialize within our wrestling community.</p>
            </div>
            <div class="class-container">
                <h3 class="class-name">Jiu Jitsu</h3>
                <p class="class-description">Our Jiu Jitsu classes are structured to provide a comprehensive and engaging training 
                    experience. We begin with a warm-up to prepare your body, followed by in-depth instruction on techniques and 
                    concepts to enhance your grappling skills. Each session concludes with live rolling, allowing you to put what 
                    you've learned into practice. While we primarily focus on no-gi Jiu Jitsu, we also offer gi practice upon request. 
                    Join us to improve your technique, build strength, and become part of our supportive and dedicated Jiu Jitsu 
                    community.</p>
            </div>
            <div class="class-container">
                <h3 class="class-name">Workout Sessions</h3>
                <p class="class-description">Our workout sessions are all about staying active and breaking a sweat. These intense, 
                    high-energy workouts focus on cardio and conditioning, keeping you constantly moving to improve endurance and 
                    mobility. Through a variety of aerobic exercises, we help you build stamina and strength while having fun. These 
                    sessions are perfect for anyone looking to boost their fitness levels, enhance their athletic performance, or 
                    lose weight in a supportive and motivating environment. Join us for a challenging and rewarding workout that 
                    will leave you feeling accomplished and energized.</p>
            </div>
        </div>
        
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="foot-block">
                <h3 class="footer-header">Location:</h3>
                <p class="footer-info">E 2nd Street, Des Moines, IA, 50309</p>
                <h3 class="footer-header">Contact:</h3>
                <p class="footer-info">Business Email: NGWC@gmail.com</p>
            </div>
            <img src="../styles/pictures/logowhite.png" alt="Logo" class="footer-logo">
            <div class="foot-block foot-block-2">
                <h3 class="footer-header">Follow us on Instagram!</h3>
                <img src="../styles/pictures/instaLogo.png" alt="Instagram Logo" class="ins-logo">
            </div>
        </div>
        <p class="design-info">Website by: Narlock Web Design 2024</p>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>