<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NGWC Membership</title>
    <meta name="description" content="Membership details for New Gen Wrestling Club.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/app.css">
    <link rel="stylesheet" href="../styles/navigation.css">
    <link rel="stylesheet" href="../styles/membership/membership.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>

<body>
    <div class="nav-style-bar-1"></div>
    <div class="nav-style-bar-2"></div>
    <nav class="navigation">
        <div class="navigation-wrapper">
            <img src="../styles/pictures/logowhite.png" alt="Wrestling Club Logo" class="navigation-icon">
            <ul class="navigation-menu">
                <li class="navigation-link-holder"><a href="../index.html" class="navigation-link">Home</a></li>
                <li class="navigation-link-holder"><a href="schedule.html" class="navigation-link">Schedule</a></li>
                <li class="navigation-link-holder"><a href="classes.html" class="navigation-link">Classes</a></li>
                <li class="navigation-link-holder"><a href="about.html" class="navigation-link">About</a></li>
                <li class="navigation-link-holder"><a href="contact.html" class="navigation-link">Contact</a></li>
            </ul>

            <button class="menu-collapser">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
                <hr class="hamburger-patty">
            </button>
        </div>

        <ul class="navigation-menu-collapse">
            <li class="navigation-link-holder-collapse"><a href="../index.html"
                    class="navigation-link-collapse">Home</a></li>
            <li class="navigation-link-holder-collapse"><a href="schedule.html"
                    class="navigation-link-collapse">Schedule</a></li>
            <li class="navigation-link-holder-collapse"><a href="classes.html"
                    class="navigation-link-collapse">Classes</a></li>
            <li class="navigation-link-holder-collapse"><a href="about.html"
                    class="navigation-link-collapse">About</a></li>
            <li class="navigation-link-holder-collapse"><a href="contact.html"
                    class="navigation-link-collapse">Contact</a></li>
        </ul>
    </nav>

    <main class="membership">
        <div class="header-styler">
            <h2 class="membership-header">Membership</h2>
        </div>
        <div class="membership-panel">
            <h2 class="membership-title">Single</h2>
            <p class="membership-description">Single adult membership contracts are $100/month. No initiation fee.</p>
        </div>
        <div class="membership-panel">
            <h2 class="membership-title">Family</h2>
            <p class="membership-description">Family membership contracts start at $75/month for the first member and $50/month 
                per additional member. No initiation fees.</p>
        </div>
        <div class="membership-panel">
            <h2 class="membership-title">Scholarships / Discounts</h2>
            <p class="membership-description">NGWC is open to anyone who is interested in wrestling and learning, and we believe 
                that a price should not limit ones desire to learn. We offer discounts for first responders and additional 
                scholarships for those who need assistance with the fees. All discounts and scholarships must be approved by the 
                gym owner.</p>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-container">
            <div class="foot-block">
                <h3 class="footer-header">Location:</h3>
                <p class="footer-info">E 2nd Street, Des Moines, IA, 50309</p>
                <h3 class="footer-header">Contact:</h3>
                <p class="footer-info">Business Email: NGWC@gmail.com</p>
            </div>
            <img src="../styles/pictures/logowhite.png" alt="Logo" class="footer-logo">
            <div class="foot-block foot-block-2">
                <h3 class="footer-header">Follow us on Instagram!</h3>
                <img src="../styles/pictures/instaLogo.png" alt="Instagram Logo" class="ins-logo">
            </div>
        </div>
        <p class="design-info">Website by: Narlock Web Design 2024</p>
    </footer>

    <script src="../scripts/navigation.js" async defer></script>
</body>

</html>