.classes {
    background: url("../pictures/shoes.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-styler {
    width: 70%;
    margin-top: 200px;
    background-color: #30267D;
    padding: 50px 75px;
}

.classes-header{
    background-color: #30267D;
    border-bottom: 1px solid white;
    font-size: 150%;
    font-weight: 100;
}

.class-describer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.class-container {
    width: 40%;
    background-color: #30267D;
    padding: 75px 75px;
    margin: 50px;
}

.class-name {
    font-size: 150%;
    font-weight: 100;
    margin-bottom: 25px;
    border-bottom: 1px solid white;
}

.class-description {
    font-size: 110%;
}

@media (max-width: 1500px) {
    .class-container {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .class-container {
        width: 90%;
        padding: 80px 80px;
    }
}

@media (max-width: 600px) {
    .class-container {
        width: 100%;
        padding: 50px 50px;
        margin: 50px 0px;
    }
}