.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30267D;
    color: white;
}

.footer-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    padding: 70px 10px 70px 0px;
}

.foot-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 25px;
    min-height: 300px;
    width: 25%;
}

.footer-logo {
   width: 20%;
}

.foot-block-2 {
    align-items: center;
    text-align: center;
}

.footer-header {
    line-height: 150%;
    font-size: 150%;
    font-weight: 100;
}

.footer-info{
    line-height: 150%;
    font-size: 100%;
}

@media (max-width: 1100px) {
    .footer-container {
        flex-direction: column;
    }

    .foot-block {
        padding: 5px;
        text-align: center;
        align-items: center;
        width: 80%;
    }

    .footer-logo {
        width: 50%;
        margin: 50px 0px;
    }
}